
header {
  text-align: center;
  align-items: center;
  padding: 1em;
}

body {
  margin: 0;
  background-image: url(../assets/sfondo.png);
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
main{
  align-items: center;
  border: 2vw,
}
.topbox ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
}
.topbox h2,
.topbox a {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.topbox li {
  margin: 6px 0;
}
h2,
a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.topbox, .centerbox, .bottombox {
  width: 90%;
  max-width: 420px;
  margin: 20px auto;
}
.topbox,
.centerbox,
.bottombox {
  box-shadow: 3px 9px 18px rgba(0,0,0,0.25);
  padding: 4%;
  
}
.topbox li a::before {
  content: "⇒ ";
}
p {
  font-size: 1em;
  line-height: 1.5;
  margin: 1em 0;
}

.autorbox p {
  font-size: 0.9em;
  color: rgb(100, 100, 107);
}
h1 {
  font-size: 3em;
  font-weight: bold;
}
.centerbox a {
  color:#007788;
  text-decoration: underline;
  font-weight: bold;
}

caption {
  font-size: 1em;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul, ol {
  font-size: 1em;
}
.topbox{
  background-color: #0088AA;
}
.centerbox{
  background-color: white;
}
.bottombox{
  background-color: white;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


caption {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}


thead {
  background-color: #3f6edb;
  color: white;
}

th {
  padding: 15px;
  font-size: 1.2em;
}


td {
  padding: 15px;
  text-align: center;
}


tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}


tbody tr:last-child td {
  border-bottom: 4px solid #3f6edb;
}

#media{
  padding: 10%;
  width: 100%;
  height: 100%
  

}